body {
    background-color: rgb(231, 230, 230);
}

.m-tb {
    margin: 10px auto !important;
}

.p-tb {
    padding: 10px auto !important;
}

.no-border {
    border: none !important;
}

.clickable {
    cursor: pointer;
}

.information {
    display: flex;
    justify-content: space-between;
}

/* Load Material Fonts */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-fonts.woff2') format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }